
body{
    background-color: #1B263B;
}

button{
    background-color: #415A77;
    color: black;
    height: 45px;
    width: 150px;
    font-size: 25px;
    font-family: sans-serif;
    color: white;
    border-radius: 10px;
    border-width: 0px;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

    #login-dialog {
        width: 450px;
        height: 450px;
        border: 6px solid #778DA9;
        border-radius: 20px;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1B263B;
    }

    dialog {
        padding: 0;
    }

    dialog .wrapper {
        padding: 70px;
    }

    dialog::backdrop {
        backdrop-filter: blur(2px);
    }

    /* Body-Styling */

    body {
        font-family: sans-serif;
        text-align: center;
        margin-top: 50px;
        color: #E0E1DD;
    }


    /* Slider-Container */

    .slider-container {
        margin: 20px auto;
        width: 300px;
    }

    #sliderValue {
        color: white;
    }

    #text {
        color: white;
    }

    #sliderValueNumber {
        color: white;
    }

    /* Slider Styling */

    input[type="range"] {
        -webkit-appearance: none; /* Entfernt das Standard-Styling */
        appearance: none; /* Entfernt das Standard-Styling */
        width: 160px;
        height: 5px;
        background: #E0E1DD; /* Hintergrundfarbe des Sliders */
        border-radius: 5px;
        outline: none;
    }

    input[type="range"]::-webkit-slider-runnable-track {
        height: 5px;
        background: #778DA9; /* Farbe des Tracks */
        border-radius: 5px;
    }

    input[type="range"]::-moz-range-track {
        height: 5px;
        background: #778DA9; /* Farbe des Tracks */
        border-radius: 5px;
    }

    input[type="range"]::-webkit-slider-thumb {
        width: 15px; /* Größe des Daumens */
        height: 15px; /* Höhe des Daumens */
        background: white; /* Farbe des Daumens */
        border-radius: 50%; /* Rundet den Daumen */
        border: 3px solid #778DA9; /* Umrandungsfarbe des Daumens */
        cursor: pointer; /* Zeigt einen Zeiger-Cursor an */
    }

    input[type="range"]::-moz-range-thumb {
        width: 15px; /* Größe des Daumens für Firefox */
        height: 15px;
        background: white; /* Farbe des Daumens */
        border-radius: 50%; /* Rundet den Daumen */
        border: 3px solid #778DA9; /* Umrandungsfarbe für Firefox */
        cursor: pointer;
    }

    #SetUpCmpgn {
        color: white;
        font-size: 25px;
    }


    button:hover {
        background-color: #E0E1DD;
        color: black;
        box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.4);
        font-family: sans-serif;
    }

    button:active {
        background-color: white;
        color: black;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        font-family: sans-serif;
    }

